.createPage{
    background: url("./planks.jpg");
    height: 100%;
}

.exitSearchAndCreateNav {
    width: 100%;
    display: flex;
    height: 50px;
    background-color: #bb2801;
    align-items: center;
    border-radius: 0 0 25px 25px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    color: #EFFCD5;
    font-size: 0.8em;
    letter-spacing: .2rem;
    font-weight: bold;
}

.back{
    color: white;
    font-weight: bold;
    font-size: 3vh;
    margin-left: 4vw;
}

.createContainer{
    width: 50%;
    height: 85vh;
    background-color: rgba(256, 256, 256, 0.799);
    box-shadow: 0 0 1rem rgb(0, 0, 0);
    border-radius: 40px;
    opacity: 1;
    animation-name: appear;
    animation-duration: 2s;
    margin-left: 25%;
    margin-top: 10vh;
}

.title{
    margin-bottom: 0;
    background: #CE2211;
    border-radius:40px 40px 0 0;
    padding-left: 17vw;
    font-size: 5vh;
}

.createContainer form{
    margin-left: 5vw;
}

.formItem{
    height: 12vh;
}

.createContainer p{
    margin-top: 0;
    font-weight: bolder;
}

.createContainer label{
    font-weight: bold;
    font-size: 3vh;
}

.createContainer span{
    font-size: 3vh;
    color: tomato;
    margin: 0;
    padding: 0;
    height: 2vh;
}

.inputPair{
    display: flex;
    flex-flow: row;
}

.inputContainer{

}

.inputContainer span{
    font-size: 2vh;
    height: 2vh;
}

.imageContainer{
    width: 10vw;
}



.submitButton{
    background: darkgreen;
    color: white;
    width: 10vw;
    height: 5vh;
    padding: 3px;
    border-radius: 5px;
    border-color: transparent;
    margin-left: 15vw;
}
