.home {
    background: url(./planks.jpg) repeat scroll;
    width: 100%;
    min-height: 100vh;
    overflow: hidden;
}


/* CARDS */
.cardsContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding-bottom: 5vh;
    margin-left: 3vw;
    margin-right: 3vw;
}

/* CARDS END */

/*  NAVBAR */
.exitSearchAndCreateNav {
    position: relative;
    display: flex;
    height: 50px;
    background-color: #bb2801;
    align-items: center;
    justify-content: space-around;
    text-align: center;
    color: #EFFCD5;
    font-size: 0.8em;
    letter-spacing: .2rem;
    font-weight: bold;
}

.exit {
    color: #EFFCD5;
    transition: .3s;
}

.exit:hover {
    color: #1153ce;
}

.create {
    color: #EFFCD5;
    transition: .5s;
}

.create:hover {
    color: #1153ce;
}

.exitContainer{
    position: absolute;
    left: 10%;
}


.createContainer {
    position: absolute;
    right: 10%;
}
/* END NAVBAR */


/* FILTERS */
.filtersAndRefresh {
    justify-content: center;
    height: 30px;
    padding: 15px;
    align-items: center;
    display: flex;
    color: #EFFCD5;
    font-family: 'Press Start 2P', cursive;
}

.refreshButton {
    font-family: 'Press Start 2P', cursive;
    background-color: rgba(0, 0, 0, 0.184);
    color: #EFFCD5;
    border-radius: 0 15px 15px 0;
    border: 1px solid black;
    font-size: .5rem;
    padding-right: 2vw;
    transition: .3s;
    padding-bottom: 0;
    padding-top: 0;
    max-height: 30px;
}

.refreshText{
    font-size: 9pt ;
    overflow: hidden;
    margin-top: 0.8vh;
    font-weight: bold;
}

.refreshButton:hover {
    color: black;
    background-color: #CE2211;
    cursor: pointer;
}

.refreshButton:active {
    box-shadow: 0 0 25px 0 #e1e1e1;
}

.refreshButton:focus {
    outline: 0;
}

.filter {
    height: 30px;
    font-family: 'Press Start 2P', cursive;
    background-color: rgba(0, 0, 0, 0.277);
    color: #EFFCD5;
    border-radius: 0;
    border: 1px solid black;
    font-size: .7rem;
    padding: 5px;
    width: 100px;
}

.filter:focus {
    background-color: rgba(4, 2, 2, 0.794);
}

.filterBy {
    font-family: 'Press Start 2P', cursive;
    background-color: rgba(0, 0, 0, 0.277);
    color: #EFFCD5;
    border-radius: 5px 0 0 5px;
    border: 1px solid black;
    /* font-size: .45rem; */
    position: static;
    font-size: .45rem;
    padding: 5px;
    height: 25px;
    width: 140px;
    text-align: center;
}

.flechita {
    color: #ffcc00;
    position: relative;
    float: right;
}

.filter:hover {
    cursor: pointer;
}
/* END FILTERS */

.home .optionsSelect {
    position: absolute;
    color: black;
    background-color: #e1e1e1;
}

/* PAGINATION */
.pagination{
    justify-self: center;
    padding-bottom: 5vh;
}
/* END PAGINATION */

@keyframes appear {
    from {opacity: 0;}
    to {opacity: 1;}
}

/* RESPONSIVE */
@media only screen and (max-width: 1300px) {
    .cardsContainer {
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
        height: auto;
        width: 100vh;
    }
}

@media only screen and (max-width: 768px) {
    body {
        /* background-size: cover;
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-position: center; */
        position: absolute;
        background-size: 1200px 800px;
        background-position: top;
        background-attachment:fixed;
        height: 100vh;
        top: 0;
        left: 0;
        min-width: 100%;
        width: 100vw;
        min-height: 100%;
    }

    .home {
        width: 100vw;
        height: 100%;
    }

    .cardsContainer {
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .exitSearchAndCreateNav {
        height: 40px;
    }
    .createContainer {
        font-size: 0.3em;
    }
    .exitContainer {
        font-size: 0.3em;
    }
}

