.searchBarContainer {
    margin: 0 auto;
    display: flex;
    font-family: 'Press Start 2P', cursive;
    width: 30vw;
    height: 30px;
    background: rgba(0, 0, 0, 0.2);
    border-radius: 20px;
    border: 1px solid rgba(255, 255, 255, 0.202);
}

.searchBarContainer input {
    font-family: 'Press Start 2P', cursive;
    width: 100%;
    float: left;
    color: black;
    border: 0;
    background: white;
    border-radius: 20px 0 0 20px;
    font-size: 0.8em;
    letter-spacing: .1rem;
    background-size: 20px;
    padding-left: 20px;
}

.searchBarContainer input::placeholder{
    color: gray;
}

.searchBarContainer input:focus {
    outline: 0;
    background: white;
}

.searchBarContainer button {
    font-family: 'Press Start 2P', cursive;
    font-size: .8em;
    letter-spacing: .1rem;
    position: relative;
    border: 0;
    padding: 0;
    cursor: pointer;
    height: 30px;
    width: 150px;
    color: #EFFCD5;
    background: gray;
    border-left: 1px solid rgba(255, 255, 255, 0.202);
    border-radius: 0 20px 20px 0;
    transition: .2s;
    align-content: space-evenly;
}

.searchText{
    padding-left: 20px;
    padding-top: 7px;
}

.searchBarContainer button:hover {
    color: white;
    background: #000000;
    border-color: #CE2211;
}

.searchBarContainer button:active {
    box-shadow: 0px 0px 50px 0px #e1e1e1;
}

.searchBarContainer button:focus {
    outline: 0;
}

.searchBarInput:focus::placeholder {
    color: transparent;
}

@media only screen and (max-width: 700px) {
    .searchBarContainer input {
        width: 100px;
    }

    .searchBarContainer button {
        width: 25px;
    }
}